# R / RStudio
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Windows
Thumbs.db

# Gros fichiers dataset (project_3)
3_mini-projets/project_3/french_thesis_20231021_metadata.csv
3_mini-projets/project_3/archive*
